.categories-collection {
    position: sticky;
    top: 0;
    background: rgb(237, 244, 244);
    backdrop-filter: blur(15px);
    display: flex;
    width: 100%;
    justify-content: center;
 }
 
 .categories {
   display: flex;
   justify-content: space-around;
    font-weight: 700;
    border-radius: 12px;
    padding: 12px;
    color: #048780;
    border: 2px solid #1a6d64;
    margin-bottom: 10px;
 }

 .productList-collection {
    display: flex;
    justify-content: center;
 }
 
 .productList {
    display: flex;
    flex-wrap: wrap;
    max-width: 1700px;
    padding: 10px;
    text-align: center;
    color: #de43ec;
    background-color: #d7f0ee;
 }
 
 .itemBlockWrap {
    width: 100%;
 }
 
 @media (min-width: 600px) {
    .itemBlockWrap {
       width: 50%;
    }
 
    .button {
       margin: 10px;
       height: 40px;
       width: 180px;
    }
 
 }
 
 @media (min-width: 900px) {
    .itemBlockWrap {
       width: 33%;
    }
 }
 
 @media (min-width: 1300px) {
    .itemBlockWrap {
       width: 25%;
    }
 }
 
 .button {
    margin: 5px;
    border-radius: 10px;
    border: 1px solid rgb(205, 202, 202);
    height: 45px;
    width: 130px;
    font-size: medium;
    color: rgb(6, 6, 151);
    transition: background 0.8s, border 0.8s ease;
    box-shadow: 3px 2px 2px gray;
 }
 
 .itemBlock {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
 }
 
 .itemTitle {
    font-size: small;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    height: 60px;
    box-sizing: border-box;
 }
 
 .itemImage {
    object-fit: contain;
    padding: 3px;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
 }
 
 .button:hover {
    background: #aadbf7;
    border: 1px solid rgb(176, 174, 174);
 }
 
 .button:active {
    background: #99abcf;
    border: 1px solid rgb(176, 174, 174);
 }
 
 .active {
    background: #61bbee;
 }
 
 .active:hover {
    background: #61bbee;
    border: 1px solid black;
 }