.title {
    display: flex;
}

.product-detail {
    align-items: center;
    display: flex;
}

.product-detail-image {
    min-width: 50%;
}

@media (min-width: 600px) {
    .product-detail {
        flex-direction: row-reverse;
    }
}