.title {
    display: flex;
}

.product-details {
    align-items: center;
    display: flex;
}

.product-details-image {
    min-width: 50%;
}

@media (min-width: 600px) {
    .product-details- {
        flex-direction: row-reverse;
    }
}