svgIcon {
    background-color: #fff;
    border: none;
    margin: 15px;
    display: block;
    margin-left: 260px;
    width: 30px;
  }
  svgReg {
    width: 20px;
  }
  
  svgSol{
    width: 20px;
  }