.App {
  text-align: center;
  color: #040491;
}

h2 {
  text-align: center;
  color: #08a98e;
}

button {
  margin:30px;
  height: 30px;
  border-radius: 12px; 
  border: 2px solid rgb(13, 244, 179);
  background-color: rgb(244, 228, 242);
}

button:hover {
  border: 2px solid rgb(239, 110, 228);
  background-color: rgb(229, 241, 242);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
