.App {
  text-align: center;
  color: #040491;
}

h2 {
  text-align: center;
  color: #08a98e;
}

button {
  margin:30px;
  height: 30px;
  border-radius: 12px; 
  border: 2px solid rgb(32, 240, 181);
  background-color: rgb(245, 233, 243);
}

button:hover {
  border: 3px solid rgb(239, 110, 228);
  background-color: rgb(225, 241, 243);
}

