.favoriteItemsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
 }
 
 .messageEmptyList {
    display: flex;
    font-size: large;
    color: darkblue;
 }


