.favoriteItemsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
 }
 
 .messageEmptyList {
    display: flex;
    font-size: large;
    color: rgb(69, 6, 74);
    border-radius: 15px;
    background: rgb(229, 245, 242);
 }

