.detailItemContainer {
    display: flex;
    justify-content: center;
    height: 100vh;
 }
 
 .detailItemWrap {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 1fr 1fr;
    grid-template-areas:
       'title'
       'image'
       'description';
    padding: 5px;
 }
 
 .detailItemTitle {
    display: flex;
    grid-area: title;
    font-size: large;
    font-weight: 800;
    justify-content: center;
    text-align: center;
    align-items: center;
 }
 
 .detailItemDescription {
    display: flex;
    grid-area: description;
    font-size: large;
    align-items: flex-start;
    padding: 40px 0px 0px 0px;
 
 }
 
 .detailItemImage {
    display: flex;
    grid-area: image;
    object-fit: contain;
    max-height: 400px;
    width: 100%;
    box-sizing: border-box;
 }
 
 @media (min-width: 600px) {
    .detailItemWrap {
       display: grid;
       grid-template-columns: 65% 35%;
       grid-template-rows: 80px calc(100% - 80px);
       grid-template-areas:
          'title image'
          'description image';
       padding: 5px;
       align-items: center;
    }
 
    .detailItemDescription {
       display: flex;
       grid-area: description;
       font-size: large;
       align-items: center;
       padding: 0px 80px 0px 0px;
    }
 
    .detailItemTitle {
       font-size: xx-large;
       justify-content: center;
       align-items: center;
    }
 
    .detailItemImage {
       display: flex;
       grid-area: image;
       object-fit: contain;
       max-height: 600px;
       width: 100%;
       box-sizing: border-box;
       padding: 5px;
    }
 }