button {
    background-color: #e9f6f5;
    color: #3b067b;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: auto;
    display:block;
  }
  
  button:hover {
    background-color: #f0e7ef;
    color: #076d6d;
  }