p {
    margin: 10px;
    font-size: 20px;  
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #920e8c;
  }

  li {
    font-size: 15px;
    margin:20px;
     font-size: 15px;
    font-family: monospace, cursive;
    list-style-type:'✓';
  }
  
  img {
      width: 100px;
      height: 100px;
      object-fit: fill;
      margin:5px;
      border-radius: 100px; 
      border: 3px solid green;
      box-shadow: 0 0 7px #e3dfdf;
  }

  img:hover {
    border: 3px solid #D8BFD8;
  }