.homePageContainer {
    display: flex;
    height: 100vh;
 }
 
 .homePage {
    display: flex;
    /*background-image: url('../../images/E-COMMERCE.jpg');*/
    /* object-fit: cover; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
 }
 
 .btnStart {
    height: 60px;
    width: 150px;
    border-radius: 10px;
    background: rgb(143, 196, 99);
    font-size: x-large;
    border: 1px solid rgb(52, 52, 52);
    box-shadow: 2px 3px 3px rgb(71, 71, 71);
    transition: background 0.8s, border 0.8s ease;
 }
 
 .btnStart:hover {
    background: rgb(197, 253, 151);
    border: 1px solid green;
 }
 
 .btnStart:active {
    background: rgb(172, 221, 132);
    border: 1px solid rgb(176, 174, 174);
    box-shadow: 1px 1px 1px rgb(71, 71, 71);
 }