
.categories {
    display: flex;
    font-weight: 700;
  }
  
  .category-item {
    margin: 2px;
    padding: 12px;
    background-color: var(--category);
  }
  
  .category-item:hover {
    background-color: var(--category-hover);
    cursor: pointer;;
  }

  .category-collection {
    background-color: var(--category-selected);
  }
  