.products-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  text-align: center;
  color: #cb3dd8;
  background-color: #d7f0ee;
}

.product-item {
  margin: 8px;
}

.product {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-image {
  max-height: 300px;
  object-fit: contain;
  width: 100%;
  margin-bottom: auto;
  margin-top: auto;
  border: 3px solid #78dee3;
  border-bottom-width: 6px;
  border-radius: 8px;
}

.product-image:hover {
  border: 3px solid #cf76ea;
  border-bottom-width: 5px;
  border-radius: 8px;
}

.product-title {
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(111, 4, 211);
  background-color: #91ecd9;
  border-collapse: separate;
 border-spacing: 10px 20px;
 margin-bottom: 10px;
}

@media (min-width: 600px) {
  .product-item {
      width: calc(50% - 16px);
  }
}

@media (min-width: 1000px) {
  .product-item {
      width: calc(33% - 16px);
  }
}
